
.dashboard-header{
  margin-bottom:32px;
}

.dashboard-header h1{
  font-size:34px;
  font-weight:700;
  justify-content: flex-end;
  font-family: "Inter";
  color:#111827;
  margin-bottom:8px;
}

.dashboard-header p{
  color:#6b7280;
}

.dashboard-recent{
    margin-top: 60px;
}
.dashboard-recent h1{
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}
