.site-header{
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #f7f5f0;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #dbdbdb;
}

.header-container{
  /* margin: 0 150px; */
  /* padding: 0 40px; */
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img{
  height: 60px;
  width: auto;
}

.desktop-nav{
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link{
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-muted);
  font-family: "Inter";
  transition: var(--transition);
}

.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: var(--accent-color);
  transition: var(--transition);
}

.nav-link:hover{
  color: var(--text-dark);
}

.nav-link:hover::after{
  width: 100%;
}

.menu-toggle{
  display: none;
  width: 42px;
  height: 42px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mobile-nav{
  display: none;
}

/* =========================
   Responsive
========================= */
@media (max-width: 1430px){
  /* .header-container{
    margin: 0 20px;
  } */
}
@media (max-width: 992px){

  .desktop-nav{
    display: none;
  }

  /* .header-container{
    margin: 0 10px  ;
    padding: 0 ;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

  .menu-toggle{
    display: flex;
  }

  .mobile-nav{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top: 1px solid #e5e7eb;
    background: white;

    max-height: 0;
    overflow: hidden;

    opacity: 0;

    transition: all 0.3s ease;
  }

  .mobile-nav.active{
    max-height: 500px;
    opacity: 1;
  }

  .mobile-nav-link{
    padding: 12px 0;

    font-size: 15px;
    font-weight: 500;

    border-bottom: 1px solid #f1f5f9;

    color: var(--text-dark);

    transition: var(--transition);
  }

  .mobile-nav-link:hover{
    color: var(--accent-color);
  }
}